#div_books{
    width: 100%;
    height: 100%;
    background-color: white;
}

#sidepanel{
    background-color: white;
    box-shadow: 0px 0px 10px black;
    height: 0;
    width: 50px;
    position: absolute;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

#btn_panel{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

#preview{
    height: 90vh;
    width: 100%;
}

.tbl_prev{
    width: 100%;
    padding-top: 5vh;
}

#prev_label{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    color: grey;
}

#note{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    color: grey;
}

#book_logo{
    width: 300px;
    height: 230px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tbl_cat{
    margin-top: 60px;
    opacity: 0;
    width: 100%;
    margin-bottom: 100px;
    padding-left: 5px;
}

#label_cat{
    text-align: center;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.val_handler{
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    user-select:none;
}

.val2_holder{
    margin-left: 20px;
    font-size: 15px;
}

.tbls_result{
    display: none;
}

.links_books{
    text-decoration: none;
    color: black;
}

#result_tbl_val{
    margin-left: auto;
    margin-right: auto;
}

#result_tbl_val_lbl{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}

#result_tbl_val_img{
    width: 250px;
    height: 300px;
    display: block;
}

.result_tbl_val_btns{
    height: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 10px;
}

#don_res{
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
}

#don_res:hover{
    box-shadow: 0px 0px 10px black;
}

#dl_res{
    background-color: green;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#dl_res_a{
    background-color: green;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#dl_res:hover{
    box-shadow: 0px 0px 10px black;
}

.p_res{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
}